<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

        <!-- we'll leverage the filesystem backup file for now -->
	<bean id="dao" class="com.rnsolutions.model.FilesystemEntryDAO"/>

        <!-- start yalp, with that dao; and initialize the index -->
	<bean id="yalp" class="com.rnsolutions.YalpImpl" init-method="initializeIndex">
		<property name="entryDAO" ref="dao"/>
	</bean>
</beans>
